# Aliases Essenciais

alias ll='ls -lah'                 # Lista arquivos com detalhes
alias la='ls -A'                   # Lista arquivos, incluindo ocultos
alias l='ls -l'                    # Lista arquivos em formato longo

# Comandos de Navegação

alias ç='cd'                       # Um "C" com "~" em baixo
alias ...='cd ../..'               # Volta dois diretórios
alias ....='cd ../../..'           # Volta três diretórios

# Git

alias gcm='git commit -m'          # Commitar com mensagem

# Sistema

alias h='cat ~/.history_zsh'       # Cat no histórico
alias e='exit'                     # Encerra a sessão do terminal
alias clr='clear'                  # Limpar a tela
alias df='df -h'                   # Exibir uso de disco de forma legível
alias free='free -h'               # Exibir memória disponível de forma legível

# Programas

alias ff='fastfetch'               # Sempre inverte o "A" e o "E"
alias wifi='sudo nmtui'            # Como lembra o nome disso?

